<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../src/style.css"/>
    <title>Standings Page</title>
</head>
<body>

    <header>
        <nav>
            <div class="header-container">
                <div class="content">
                    <div class="left-side">
                        <a href="../src/index.html"><img src="../docs/img/nba-image.png"></a>
                        <h1> Stats</h1>
                    </div>
                    <div class="right-side">
                        <ul>
                            <li><a href="standings.html">Standings</a></li>
                            <li>Scoring Leaders</li>
                            <li>Assist Leaders</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="standings-container">
    
<!-- Eastern conference standings -->

    <h1 class="standings-header">2020-2021 SEASON LEAGUE STANDINGS</h1>
    
        <table class="styled-table">
            <thead class="east-table-head">
                <tr>
                    <th>Eastern Conference</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th class="num">Standing</th>
                    <th>Name</th>
                    <th>Win</th>
                    <th>Loss</th>
                    <th>Streaks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active-row">
                    <td class="num">1</td>
                    <td class="east-logo"><img class="cavs" src="../docs/img/east-teams/cleveland-cavs.png">Cleveland Cavaliers</td>
                    <td>3</td>
                    <td>0</td>
                    <td>Won 3</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/orlando-magic.png">Orlando Magic</td>
                    <td>3</td>
                    <td>0</td>
                    <td>Won 3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/indiana-pacers.png">Indiana Pacers</td>
                    <td>3</td>
                    <td>0</td>
                    <td>Won 3</td>
                <tr>
                    <td>4</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/atl.png">Atlanta Hawks</td>
                    <td>3</td>
                    <td>0</td>
                    <td>Won 3</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/philadelphia-76ers.png">Philadelphia 76ers</td>
                    <td>2</td>
                    <td>1</td>
                    <td>Lost 1</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/nets.png">Brooklyn Nets</td>
                    <td>2</td>
                    <td>2</td>
                    <td>Lost 2</td>
                <tr>
                    <td>7</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/miami-heat.png">Miami Heat</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Won 1</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/new-york-knicks.png">New York Knicks</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Won 1</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/celtics.png">Boston Celtics</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Lost 2</td>
                <tr>
                    <td>10</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/milwaukee-bucks.png">Milwaukee Bucks</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Lost 1</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/hornets.png">Charlotte Hornets</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Won 1</td>
                <tr>
                    <td>12</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/toronto-raptors.png">Toronto Raptors</td>
                    <td>0</td>
                    <td>2</td>
                    <td>Lost 2</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td class="east-logo"><img class="wizards-logo" src="../docs/img/east-teams/washington-wizards.png">Washington Wizards</td>
                    <td>0</td>
                    <td>3</td>
                    <td>Lost 3</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/detroit-pistons.png">Detroit Pistons</td>
                    <td>0</td>
                    <td>3</td>
                    <td>Lost 3</td>
                <tr>
                    <td>15</td>
                    <td class="east-logo"><img src="../docs/img/east-teams/chicago-bulls.png">Chicago Bulls</td>
                    <td>0</td>
                    <td>3</td>
                    <td>Lost 3</td>
                </tr>
                <!-- and so on... -->
            </tbody>
        </table>


<!-- Western conference standings -->
    
<table class="west-conf styled-table">
    <thead>
        <tr class="west-conf-tr">
            <th>Western Conference</th>
        </tr>
    </thead>
    <thead>
        <tr class="west-conf-tr">
            <th>Standing</th>
            <th>Name</th>
            <th>Win</th>
            <th>Loss</th>
            <th>Streaks</th>
        </tr>
    </thead>
    <tbody class="west-body">
        <tr class="active-row">
            <td>1</td>
            <td>Cleveland Cavaliers</td>
            <td>3</td>
            <td>0</td>
            <td>Won 3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Orlando Magic</td>
            <td>3</td>
            <td>0</td>
            <td>Won 3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Indiana Pacers</td>
            <td>3</td>
            <td>0</td>
            <td>Won 3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Orlando Magic</td>
            <td>3</td>
            <td>0</td>
            <td>Won 3</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>


    </div> 


    


    <script src="./script.js"></script>
</body>
</html>
