@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --left-bg-color: rgba(87,84,236, 0.8);
    --mouse-leave: rgba(43,43,43, 0.8);
    --right-bg-color: rgba(150, 40, 27, 0.8);
    --left-btn-hover-color: rgba(87,84,236, 1);
    --right-btn-hover-color: rgba(150, 40, 27, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

*{
    box-sizing: border-box;
}
a{
    color: #fff;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}
header {
    background-color: black;
    color: #fff;
    padding: 8px;
}
header .content{
    display: flex;
    justify-content: space-between;
}
header .header-container{
    width: 90%;
    height: 45px;
    margin: auto;
}
header ul {
    width: 150%;
    list-style: none;
    display: flex;
    padding-right: 50px;
    margin-top: 10px;
}
header ul li{
    padding-left: 35px;
    /* padding-right: 25px; */
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}
header img{
    width: 10%;
    width: 100px;
    height: 70%;
    margin: 0;
    display: inline;
    cursor: pointer;
}
header h1 {
    display: inline;
    text-transform: uppercase;
    padding-top: 0px;
    margin-top: 8px;
    margin-bottom: 0;
    cursor: pointer;
}
header .left-side{
   display: flex;
}
.split-header{
    font-size: 3rem;
    color: #fff;
    text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black;
    /* box-shadow: 2px 3px 7px 1px #cecbcb; */
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    white-space: nowrap; /* allows for text to remain on the same line even when page is minimised*/
}

.btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
    /* box-shadow: 2px 3px 7px 1px #cecbcb; */
    
}
.split.left .btn:hover{
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}
.split.right .btn:hover{
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}
.container .teams{
    padding-top: 15%;
    width: 90%;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container .teams img{
    width: 20%;
}
.container .teams .cavs-logo{
    height: 38%;
    
}
.container .teams .wizards-logo{
    height: 50%;
}
.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.split.left{
    left: 0;
    background: url('https://github.com/bradtraversy/50projects50days/blob/master/split-landing-page/ps.jpg?raw=true');
    background: url('https://i.pinimg.com/originals/e8/a5/cb/e8a5cb3c1aef5c9c79b7b7542e004d8e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right{
    right: 0;
    background: url('https://github.com/bradtraversy/50projects50days/blob/master/split-landing-page/xbox.jpg?raw=true');
    background: url('https://vignette.wikia.nocookie.net/prosportsteams/images/1/10/Western_Conference_%28NBA%29.gif/revision/latest?cb=20120914191716');
    background-repeat: no-repeat;
    background-size: cover;
}
.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}
.split.right, .split.left, .split.right::before, split.left::before{
    transition: all var(--speed) ease-in-out;
}

.hover-left .left{
    width: var(--hover-width);
}


.hover-left .right{
    width: var(--other-width);
}

.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left{
    width: var(--other-width);
}

.remove-padding{
    transition: all var(--speed) ease-in-out; 
    padding-top: 5% !important;
}
.display-none{
    display: none !important;
}
.mouse-leave::before{
    background-color: var(--mouse-leave);
    background-color: rgba(43,43,43, 0.8) !important;
}

/* Standings page */
.standings-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.styled-table thead tr {
    background-color: #009879;
    background-color: var(--left-bg-color);
    color: #ffffff;
    text-align: left;
    
}
table .east-table-head tr th{
    width: 250px;
}
table .west-table-head tr th{
    width: 250px;
}
.styled-table th,
.styled-table td {
    padding: 10px 55px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
    
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: thin solid var(--left-bg-color);
}

.standings-header{
    margin-top: 3rem;
}
.east-logo{
    width: 75%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
}
.west-logo{
    width: 75%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
}
table .cavs{
    /* width: 9%; */
    height: 2.7rem;
}
table img{
    width: 50px;
    margin: 0;
    padding: 5px;
}
table .num{
    width: 10px;
}
/* table img:nth-of-type(2){
    border: 1px solid #fff;
    background: #fff;
    padding: 5px;
}
table img:nth-of-type(odd){
    border: 1px solid #f3f3f3;
    padding: 5px;
    background: #f3f3f3;
} */


/* West conference table */
.west-conf{
    margin-top: 50px;
}
.styled-table thead .west-conf-tr {
    background-color: var(--right-bg-color);
    color: #ffffff;
    text-align: left;
}
.styled-table .west-body tr:last-of-type {
    border-bottom: thin solid var(--right-bg-color);
}




@media(max-width: 800px) {
    h1{
        font-size: 2rem;
        top: 30%;
    }
    .btn {
        width: 12rem;
        padding: 1.2rem;
    }
}

